.form-container{
    margin-top: 50px;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    .form-container div{
    border: 1px solid #000;
    border-radius: 0.8rem;
    width: 550px;
    background: #f1f1f1;
    font-family: 'Merriweather', sans-serif;
    padding: 1em;
    }
    .form-container p{
        display: block;
        color: #f1f1f1;
        font-size: large;
    }
    input{
        border:0; outline:0;
        padding: 0.8rem;
        border-radius:8px;
        display: block;
        width: 80%;
        margin-top: 1em;
        font-family: 'Merriweather', sans-serif;
        resize: none;
    }   
    
    #input-submit {
        border:0; outline:0;
        padding: 0.8rem;
          border-radius:8px;
        color: white; 
        background: rgb(4, 55, 24);
        cursor: pointer;
     } 