<div
  class="justify-content-center align-items-center d-flex mt-5 mb-5"
  *ngIf="validationForm"
>
  <form
    class="form mb-5"
    [formGroup]="validationForm"
    (ngSubmit)="
      editStudent(name.value, age.value, email.value, job.value, phone.value)
    "
  >
    <p class="title">Student</p>
    <div class="flex">
      <label>
        <input
          required=""
          #name
          placeholder=""
          type="text"
          formControlName="name"
          class="input"
        />
        <span [ngClass]="NameValid ? 'green' : 'red'">Name</span>
      </label>

      <label>
        <input
          required=""
          #age
          placeholder=""
          type="number"
          formControlName="age"
          class="input"
        />
        <span [ngClass]="AgeValid ? 'green' : 'red'">Age</span>
      </label>
    </div>

    <label>
      <input
        required=""
        #email
        placeholder=""
        type="email"
        class="input"
        formControlName="email"
      />
      <span [ngClass]="EmailValid ? 'green' : 'red'">Email</span>
    </label>

    <label>
      <input
        required=""
        #job
        placeholder=""
        type="text"
        value="{{ oldStudent.job }}"
        class="input"
      />
      <span>Job</span>
    </label>
    <label>
      <input
        required=""
        #phone
        placeholder=""
        type="text"
        value="{{ oldStudent.phone }}"
        class="input"
      />
      <span>Phone</span>
    </label>
    <input class="submit" type="submit" value="Update" />
  </form>
</div>
