<div class="mt-4">
  <h2 class="text-center mt-5 mb-3 p-4" style="color: #e67e22">Students</h2>
  <div class="justify-content-center d-flex align-items-center">
    <a routerLink="/addStudents">
      <button class="btn btn-dark">ADD New Student</button></a
    >
  </div>
  <div class="table-responsive-md table-fixed">
    <table class="container table table-striped table-light mt-3">
      <thead class="text-center">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Age</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Directive -->
        <tr *ngFor="let s of Students; index as i" class="text-center">
          <td>{{ i + 1 }}</td>
          <td>{{ s.name }}</td>
          <td>{{ s.email }}</td>
          <td>{{ s.age }}</td>
          <td>
            <a routerLink="/student/{{ s.id }}">
              <button class="btn btn-outline-dark me-2">
                <i class="bi bi-pencil-fill"></i>
              </button>
            </a>

            <button
              class="btn btn-outline-danger me-2"
              (click)="deleteStudent(s.id)"
            >
              <i class="bi bi-trash3-fill"></i>
            </button>

            <a routerLink="/students/{{ s.id }}">
              <button class="btn btn-outline-success me-2">
                <i class="bi bi-person-badge"></i>
              </button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
