{% extends 'main/base_layout.html' %} {% block main-content %}
<div class="container d-flex flex-column align-items-center mt-5">
  <div class="row">
    <div class="col-12">
      <form
        method="post"
        action="{% url 'bookStore:book-create' %}"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <div class="form-group">{{ form.as_p }}</div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <div class="mt-5" style="display: inline">
          <a href="{% url 'bookStore:books-list'%}">
            <button type="button" class="btn btn-info">
              Back to Books List
            </button>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
