<!-- Footer -->
<footer class="bg-dark text-center text-white mb-0 fixed-bottom">
  <!-- Grid container -->
  <div class="container">
    <!-- Section: Social media -->
    <section class="mb-1">
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.linkedin.com/in/marim-khaled"
        target="_blank"
        role="button"
        ><i class="bi bi-linkedin"></i
      ></a>
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://github.com/Marim99"
        target="_blank"
        role="button"
        ><i class="bi bi-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <div class="text-center" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright: Mariam Khaled
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
